.header{
    margin: 15px 15px;
    height: 400px;
    background-image: url(../../assets/images/Rectangle1.svg);
    background-size: cover;  
}

.container{
    height: 80px;
    /* background-color: red; */
    border-bottom: 1px solid #423940;
}

.row{
    display: flex;
    justify-content: space-between;
}


.logo:hover{
    opacity: 0.9;
}

.logo__svg{
    margin-top: 0;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    max-width: 150px;
    max-height: 150px;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 80px;
    color: #fff;
}
header .navbar ul li{
    display: inline-block;
    margin-right: 35px;
}


/* 
.name{
    justify-self: center;
    color: black;
    font-size: 20px; 
    font-weight: 500;
    margin: 60px 0;
} */

.drawer{
    border: none;
    height: 50px !important;
    width: 50px !important;
    padding: 0 ;
    margin: 0;
    outline: none;
    background-image: url(../../assets/images/ham\ menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
/* .drawer:hover{
    
} */

.hamburger{
    scale: 0.9;
}

.hamburger:hover{
    opacity: 0.8;
}

.hamburger__svg{
    width: 31px;
    height: 21px;
    max-width: 50px;
    max-height: 50px;
}



/* .header__menu > a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #565673;
    font-size: 12px;
    letter-spacing: 1.2px;
    
}

.header__menu > a:hover{
    color: cadetblue;
} */

